@font-face {
    font-family: 'proxima_nova_condensed';
    src: url('@/assets/fonts/proxima_nova_condensed_regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: var(--main-font);
    margin: 0px;
    padding: 0px;
}

h1.title {

}
h2.title {
    
}
@media (max-width: 321px){
    
}