/* colors */
$border-color:#d9d9d9;
$gray-color: #444;
$pink-color: #b01736;
$red-color: #a30c33;
$dark-blue: rgba(45, 54, 83, 0.6);
$blue-color: rgba(45, 54, 83, 6);

/* fonts */
$main-font: 'proxima_nova_condensed', sans-serif ;